{% extends "base/base.html" %}
{% load crispy_forms_tags %} <!-- pip es un paquete de crispy para modelar formularios bonitos-->
 <!-- ejecutar pip instal django-crispy-forms para instalar -->

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Datos</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Crear</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                ya tienes una cuenta? <a class="ml-2" href="#">iniciar sesion</a>
            </small>
        </div>
    </div>
{% endblock content %}